<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- ====================   Consumer   ==================== -->

    
    
    <!-- AbstractDbConsumer -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.db.AbstractDbConsumer"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <map>
                <entry value-ref="dataSourceMYERP">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
                    </key>
                </entry>

            </map>
        </property>
    </bean>


    <!-- ==================== Consumer-Proxy ==================== -->

    <!-- ConsumerHelper -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.ConsumerHelper"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <list>
                <ref bean="DaoProxy"/>
            </list>
        </property>
    </bean>


    <!-- DaoProxy -->
    <bean id="DaoProxy" class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl" factory-method="getInstance">
        <property name="comptabiliteDao" ref="ComptabiliteDaoImpl"/>
    </bean>
    
    <!-- ========== SQL ========== -->
    <import resource="sqlContext.xml"/>
    


    <!-- ==================== Databases ==================== -->
    <!-- EN DEVELOPPEMENT -->
    <beans profile="dev">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

	</bean>
    
    <bean id="dataSourceMYERP" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/db_myerp" />
		<property name="username" value="postgres" />
		<property name="password" value="admin" />
    
    
    </bean>
    </beans>
    
    
    <!-- EN INTEGRATION -->
    <beans profile="test">
    
    <!-- FICHIERS PROPERTIES A RECUPERER -->
    	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
        <list>
            <value>classpath:/com/dummy/myerp/consumer/db.properties</value>
        </list>
    </property>
	</bean>
    
    <bean id="dataSourceMYERP" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.connection.driver_class}" />
		<property name="url" value="${db.connection.url}" />
		<property name="username" value="${db.connection.username}" />
		<property name="password" value="${db.connection.password}" />
    
    
    </bean>
    </beans>
    
    
    

   
    
	



</beans>
